@import "tailwindcss";

@font-face {
  font-family: 'Peyda ExtLt';
  src: url('/assets/fonts/Peyda-ExtraLight.eot');
  src: url('/assets/fonts/Peyda-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda ExtBd';
  src: url('/assets/fonts/Peyda-ExtraBold.eot');
  src: url('/assets/fonts/Peyda-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda';
  src: url('/assets/fonts/Peyda-Bold.eot');
  src: url('/assets/fonts/Peyda-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda Med';
  src: url('/assets/fonts/Peyda-Medium.eot');
  src: url('/assets/fonts/Peyda-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda';
  src: url('/assets/fonts/Peyda-Light.eot');
  src: url('/assets/fonts/Peyda-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda';
  src: url('/assets/fonts/Peyda-Regular.eot');
  src: url('/assets/fonts/Peyda-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda';
  src: url('/assets/fonts/Peyda-Thin.eot');
  src: url('/assets/fonts/Peyda-Thin.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda SemBd';
  src: url('/assets/fonts/Peyda-SemiBold.eot');
  src: url('/assets/fonts/Peyda-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peyda';
  src: url('/assets/fonts/Peyda-Black.eot');
  src: url('/assets/fonts/Peyda-Black.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Peyda-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Base Tailwind Configurations */
@layer base {
  * {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #8750f7 #2a1454;
  }

  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #2a1454;
  }

  ::-webkit-scrollbar-thumb {
    background: #8750f7;
    border-radius: 1ex;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  html,
  body {
    min-height: 100%;
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
  }

  body {
    font-family: "peyda", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #dddddd;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "peyda", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 65px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
  }

  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover {
    text-decoration: none;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes bounceInDown {
    0% {
      opacity: 0;
      transform: translateY(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(0px);
    }
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes bounceInUp {
    0%, 10%, 35%, 50%, to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    10% {
      transform: translate3d(0, 0px, 0);
    }
    35% {
      transform: translate3d(0, -10px, 0);
    }
    50% {
      transform: translate3d(0, 2px, 0);
    }
    80% {
      transform: translate3d(0, -90px, 0);
    }
    to {
      transform: translate3d(0, -3000px, 0);
    }
  }

  @keyframes stroke {
    0% {
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 1;
    }
    100% {
      stroke-dashoffset: 100%;
      stroke-dasharray: 100% 0;
      stroke-width: 1;
    }
  }

  @keyframes pulsate {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

